ACTIVE_VALIDATOR_HOST="127.0.0.1"
BACKUP_VALIDATOR_HOST="127.0.1.1"
VALIDATOR_ADDRESS="rv1..."
BOT_TOKEN="1234:abcdef"
DIRECT_MESSAGE_CHATID="1234"
GROUPCHAT_CHATID="-4321"
NGINX_ACTIVE_BEARER_TOKEN="Abcdef=="
NGINX_BACKUP_BEARER_TOKEN="Abcdef=="
LAST_VALIDATOR_INFO_FILE="last_validator_info.txt"